.body{
    margin-top: 0%;
}
.Head{
    text-align: center;
    font-size: 70px;
}
.Div1{
            color: black;
            background-size: cover;
            background-image: url("images\candles.jpg");
        }
        .btwn{
            padding: 6px 20px;
            background-color: rgb(233, 45, 45);
            border: round;
            text-align: center;
            align-items: center;
            display: inline-block;
        }
        .ul{
            display: flex;
            justify-content: space-between;
            background-image: url("images\candles.jpg");
        }
                 
        .img{
            margin-right: auto;
            width: 400px;
            display: fill;
            border-radius: 10px;
            margin-top: 0px;
            margin-bottom: 1px;
            margin-left: 0px;

            }
        .layout{
            margin-top: 6px;
            display: flex;
        }
        .section1{
            margin: 0px;
            background-color: rgb(184, 53, 64);
            border-radius: 30px solid red 100px;
            background-image: url("images/candles.jpg");
            background-position: center; 
            background-repeat: no-repeat; 
            width: 30rem; 
            height: 25rem; 
            background-color: bisque;
            
        }
        .div2{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 50%;
        }
        .div3{
            display: flex;
            justify-content: space-between;
            }